// home.html
.homeTop{
    @include d_f(flex, center, space-between);
    padding: 32px 0;

    @include mw_sm {
        flex-direction: column;
    }

    // .homeTop__txt
    &__txt{
        @extend %bigTitle;
        padding: 0 24px;
        margin: unset;

        @include mw_sm{
            margin-bottom: 40px;
        }
    }
    // .homeTop__img
    &__img{
        padding: 0 24px;
        @include mw_sm {
            padding: 0;
        }
    }
}

.homeInfo{
    padding-bottom: 40px;

    // .homeInfo__title
    &__title {
        @extend %title;
    }

    // .homeInfo__txt
    &__txt {
        @extend %dice_txt;

        li{
            font-weight: bold;

            &+li {
                margin-top: 24px;
            }
        }
    }
}

.homeSign{
    @extend %transition;
    @include d_f(flex, center, space-between);
    padding: 40px 0;

    @include mw_sm{
        flex-wrap: wrap;
        padding: 40px 24px;
    }

    // .homeSign__title
    &__title{
        flex: none;
        color: map-get($txt_color, secondary);
        font-size: 32px;
        margin-right: 24px;

        @include mw_sm{
            width: 100%;
            text-align: center;
            margin-right: 0;
            margin-bottom: 16px;
        }
    }

    .normal_input{
        flex: 1 1 100%;
        margin-right: 24px;
        

        @include mw_sm{
            width: 100%;
            margin-right: 0;
            margin-bottom: 24px;
        }
    }

    // .homeSign_btn
    &_btn{
        flex: none;
        padding: 0 32px;
        height: 56px;
        background: map-get($bg_color , green);
        color: map-get($txt_color , white);
        font-weight: bold;
        text-transform: uppercase;
        
        @include mw_sm {
            width: 100%;
        }


        // 手指效果
        @include hoverHandler {
            background: map-get($bg_color , lightgreen );
        }
    }    
}


// problem.html
.problem{

    // .problem__txt01
    &__txt01{
        @include d_f(flex, center, space-between);

        @include mw_sm{
            flex-wrap: wrap;
            margin-bottom: 32px;
        }
        
        img{
            width: calc(100% / 3);            
            max-width: 280px;

            @include mw_sm {
                width: 100%;
                max-width: none;
                margin-bottom: 32px;
            }
        }

        p{
            @extend %normal_txt;
            padding: 0 24px 0 48px;

            @include mw_sm {
                padding: 0;
            }
        }
    }

    // .problem__txt02
    &__txt02{
        margin-bottom: 32px;

        h2{
            color: map-get($txt_color , secondary);
            font-size: 22px;
            margin-bottom: 24px;
        }

        ul{
            @extend %dice_txt;
        }
    }

    // .problem__txt03
    &__txt03{
        @extend %normal_txt;
        margin-bottom: 32px;
    }

    // .problem__txt04
    &__txt04{
        margin-bottom: 32px;

        p{
            @extend %normal_txt;
            margin-bottom: 24px;
        }

        ul{
            @extend %decimal_txt;
        }
    }
}



// resources.html
.resources{

    // .resources
    &__txt{
        @extend %normal_txt;
        padding-top: 48px;

        li{
            white-space: pre-line;
            margin-bottom: 24px;
        }
    }
}



// about.html
.about{
    padding-top: 40px;

    // .about__txt01
    &__txt01{
        @extend %normal_txt;
        margin-bottom: 80px;
    }

    // .about__txt02
    &__txt02{
        @include d_f(flex, center, space-between);
        margin-bottom: 80px;
        
        @include mw_sm {
            flex-wrap: wrap;
            margin-bottom: 32px;
        }
        
        img {
            width: calc(100% / 3);
            max-width: 340px;
    
            @include mw_sm {
                width: 100%;
                max-width: none;
                margin-bottom: 32px;
            }
        }

        ul {
            @extend %normal_txt;
            padding: 0 24px 0 48px;

            li + li{
                margin-top: 40px;
            }

            @include mw_sm {
                padding: 0;
            }
        }
    }
}



// contact.html
.contact{
    max-width: 700px;
    margin: auto;

    &.--report{
        padding-top: 56px;
    }

    h2{
        color: map-get($txt_color , secondary);
        font-size: 22px;
        margin-bottom: 24px;
        text-align: center;
    }
    label{

        &:not(:first-of-type){
            margin-top: 24px;
        }
    }

    .notice{
        padding-top: 8px;
        color: map-get($txt_color , red);

        &:empty{
            display: none;
        }
    }

    .normal_textarea{
        margin: 24px 0;
    }

    .send_btn,
    .login_btn{
        display: block;
        padding: 0 32px;
        height: 56px;
        background: map-get($bg_color , green);
        color: map-get($txt_color , white);
        font-weight: bold;
        text-transform: uppercase;
        margin: auto;
    
        @include mw_sm {
            width: 100%;
        }
    
    
        // 手指效果
        @include hoverHandler {
            background: map-get($bg_color , lightgreen);
        }
    }

    .login_btn{
        margin-top: 24px;
    }

    // contact__txt
    &__txt{
        padding: 24px 0;
        text-align: center;

        code{
            display: block;
            margin-bottom: 56px;
            font-size: 12px;
        }

        p{
            margin-bottom: 40px;
        }
    }
}



// report.html
.remberArea{
    @include d_f(flex, center, 0);
    margin-top: 24px;
    
    .checkbox_style{
        @include checktick(20px, 2px, 2px, map-get($bg_color , green));
    }
}