// 寬度設定
.pd_auto {
    padding-left: 64px;
    padding-right: 64px;

    @include mw_xs {
        padding-left: 24px;
        padding-right: 24px;
    }
}


// 標題字型
%bigTitle {
    max-width: 768px;
    margin: 24px auto;
    text-align: center;
    text-transform: uppercase;
    
    h1{
        font-family: Cabin, arial, sans-serif;
        font-size: 44px;
        color: map-get($txt_color, secondary);
        margin-bottom: 24px;

        @include mw_lg {
                font-size: 38px;
            }
        
            @include mw_xs {
                font-size: 32px;
            }
    }
    p{
        color: map-get($txt_color, primary);
    }
}
.bigTitle{
    @extend %bigTitle;
}

%title{
    line-height: 1.4;
    padding:24px 0 16px;
    color: map-get($txt_color, secondary);
    border-bottom: 1px solid map-get($bg_color, darkgray);
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 40px;
}
.title{
    @extend %title;
}

%normal_txt{
    width: calc(100% / 1.5);
    line-height: 24px;
    color: map-get($txt_color, primary);
    font-size: 16px;

    @include mw_sm {
        width: 100%;
    }
}

%dice_txt {
    width: calc(100% / 1.5);
    padding-left: 32px;
    padding-right: 32px;
    color: map-get($txt_color, primary);
    font-size: 16px;

    @include mw_sm {
        width: 100%;
    }

    li {
        line-height: 24px;
        list-style: disc outside;
    }
}

%decimal_txt {
    width: calc(100% / 1.5);
    padding-left: 32px;
    padding-right: 32px;
    color: map-get($txt_color, primary);
    font-size: 16px;

    @include mw_sm {
        width: 100%;
    }

    li {
        line-height: 24px;
        list-style: decimal outside;
    }
}

// 動畫
.active_item {
    @extend %transition;
    opacity: 0;
    visibility: collapse;
    transform: translate3d(0, -20%, 0);
    transform-origin: 0 top;
    z-index: 2;
    
    @include mw_md{
        transform: scale(1, 0);
        height: 0;
    }
}

.--active {
    > .active_item,
    ~ .active_item {
        visibility: visible;
        opacity: 1;
        transform:translate3d(0, 0, 0);
    
        @include mw_md{
            transform: scale(1, 1);
            height: auto;
        }
    }
}

// 常用元件
.txt_bold{
    font-weight: bold;
}

.normal_input {
    position: relative;
    display: block;
    height: 56px;
    padding: 24px 16px 8px;
    background: map-get($bg_color, primary);
    outline: 1px solid map-get($bg_color, lightgray);
    
    // on
    &.--on {
        outline: 1px solid map-get($bg_color, darkgray) !important;
    }

    // 手指效果
    @include hoverHandler {
        outline: 1px solid map-get($bg_color, green);
    }

    input {
        width: 100%;
        height: 100%;
        color: map-get($txt_color, secondary);
    }

    span {
        @extend %transition;
        @include pos_a(tl, 18px, 16px);
        height: 20px;

        @at-root .--on span {
            font-size: 12px;
            top: 8px;
        }
    }
}

.normal_textarea{
    width: 100%;
    height: 146px;
    padding: 16px;
    background: map-get($bg_color, primary);
    outline: 1px solid lightgray;

    // 手指效果
    @include hoverHandler {
        outline-color: map-get($bg_color, green);
    }
}

.show_sm {
    @include mw_md {
        display: none;
    }

    @include mw_sm {
        display: block;
    }
}

.word_link{
    text-decoration: underline;
    color: map-get($txt_color, green);

    // 手指效果
    @include hoverHandler {
        color: map-get($txt_color, lightgreen);
    }
}

// 勾勾
@mixin checktick($box, $xy, $boder, $bg) {
    @extend %hand;
    @include d_f(flex, center, flex-start);
    position: relative;

    input {
        display: none;
    }

    span {
        position: relative;
        display: inline-block;
        width: $box;
        height: $box;
        background: $bg;
        border: 1px solid map-get($bg_color, secondary);
        margin-right: 5px;

        &::before {
            @include pos_a(tl, $xy);
            content: none;
            display: block;
            width: calc($box / 2);
            height: calc($box / 3);
            border-width: 0 0 $boder $boder;
            border-style: solid;
            border-color: map-get($bg_color, white);
            transform: rotate(-48deg);
        }
    }

    input:checked+span::before {
        content: '';
    }

}