// 字體顏色
$txt_color: (
    primary: rgb(94, 94, 94),
    secondary: rgb(27, 27, 27),
    gray: rgb(89, 89, 89),
    white: rgb(246, 246, 246),
    darkgreen: #3b4d07,
    green:#799a19,
    lightgreen: #90b620,
    red: rgb(239, 0, 0),
);
// 背景色
$bg_color: (
    primary: #fff,
    secondary:  rgb(246, 246, 246),
    darkgreen: #3b4d07,
    green:#799a19,
    lightgreen: #90b620,
    darkgray: rgb(22, 22, 22),
    gray: rgb(85, 85, 85),
    lightgray: rgb(226, 226, 226),
    white: #fff,
    black_alpha: rgba(22, 22, 22, 0.8),
    gray_alpha: rgba(226, 226, 226, 0.8),
);

// 按鈕色
$btn_color: (
    green:rgb(121, 154, 25),
    lightgreen: rgb(144, 182, 32),
);

// 顏色class
@each $name, $value in $txt_color {
    .txt_#{$name} {
        color: $value !important;
    }
}
@each $name, $value in $bg_color {
    .bg_#{$name} {
        background: $value !important;
    }
}
