// 字體顏色
$txt_color: (
    primary: #7C7B7B,
    secondary: #000,
    white: #fff,
);
// 背景色
$bg_color: (
    primary: #fff,
    secondary: #7C7B7B,
    black: #000,
    white_alpha: rgba(255, 255, 255, .5),
    black_alpha: rgba(0, 0, 0, 0.7),
    lightblack_alpha: rgba(124, 123, 123, .5),
);

// 按鈕色
$btn_color: (
    primary: white,
);

// 顏色class
@each $name, $value in $txt_color {
    .txt_#{$name} {
        color: $value !important;
    }
}
@each $name, $value in $bg_color {
    .bg_#{$name} {
        background: $value !important;
    }
}
